# fly.toml app configuration file generated for msa-booking on 2025-12-07T02:44:18+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'msa-booking'
primary_region = 'nrt'

[build]

[env]
NODE_ENV = "production"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
  memory = "256mb"           # Free tier limit (256MB memory per machine)
  cpu_kind = "shared"        # Shared CPU (Free tier eligible)
  cpus = 1                   # 1 CPU (Default and Free tier eligible)
